.movies-card__item {
  list-style: none;
  position: relative;
}

.movies-card__img {
  width: 360px;
  height: 201px;
  object-fit: cover;
  border-radius: 6px;
}

.movies-card__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 14px 14px 0;
}

.movies-card__name {
  max-width: 250px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  align-items: center;
  text-align: center;
  margin: 0;
  color: #A0A0A0;
  background-color: #F9F9F9;
  border-radius: 3px;
  padding: 3px 4px;
}

.movies-card__btn {
  position: absolute;
  top: 14px;
  right: 14px;
  transition: opacity .3s ease;
  opacity: 1;
}

.movies-card__item:hover .movies-card__btn {
  transition: .9s;
  opacity: .7;
}

.movies-card__btn_type_save {
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  color: #000000;
  background: #F9F9F9;
  border-radius: 30px;
  border: none;
  padding: 6px 7px;
  cursor: pointer;
}

.movies-card__btn_type_like {
  font-size: 0;
  width: 21px;
  height: 21px;
  background-image: url(../../images/icons/save.svg);
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.movies-card__btn_type_delete {
  font-size: 0;
  width: 21px;
  height: 21px;
  background-image: url(../../images/icons/delete.svg);  
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.movies-card__link {
  text-decoration: none;
}

@media (max-width: 1023px) {
  .movies-card__info {
    padding: 25px 0 0;
  }
  .movies-card__img {
    width: 339px;
    height: 190px;
  }
}

@media (max-width: 767px) {
  .movies-card__info {
    padding: 16px 0 0;
  }
  .movies-card__name {
    font-size: 12px;
    line-height: 15px;
  }
  .movies-card__img {
    width: 300px;
    height: 168px;
  }
}