.navigation__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation__item {
  list-style: none;
  margin-right: 20px;
}

.navigation__item:last-child {
  margin-right: 0px;
  margin-left: 45px;
 }

.navigation__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 13px;
}

.navigation__account {
  margin: 0;
}