.header {
  background-color: #fff;
  padding: 18px 70px;
}

.header_bgcolor_blue {
  background-color: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1023px) {
  .header {
    padding: 18px 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }
}
