.stack {
  padding: 100px 70px;
  background-color: #F5F5F5;
}

.stack__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.stack__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
  margin-top: 90px;
}

.stack__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
  margin-top: 26px;
}

.stack__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.stack__item {
  background: #E8E8E8;
  border-radius: 10px;
  cursor: pointer;
  width: 90px;
  height: 60px;
  margin-right: 10px;
  opacity: 1;
  transition: opacity .3s ease;
}

.stack__item:hover {
  opacity: .7;
}

.stack__item:last-child {
  margin-right: 0;
}

.stack__link {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #000000;
}
